@import '../../../global-style.scss';
.home-container{
    
}
.search-bar{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin:auto;//to center the content
    padding-top: 50px;
}
.empty-list{
   p{
    color:$pink;
    font-size: 30px;
    
   }
   text-align: center;
   position: absolute;
    top: 50%;
    width:100%;
    transform: translateY(-50%);
}
.artists-list{
    margin-top: 35px;
    display: flex;
    
}

.main-card-container{
    overflow: scroll;
    position:relative;
    height: 70vh;
    text-align: center;
    width:100%;



}
.row{
    display: flex;

}
.card{
    margin: 1%;
    padding: 20px;
    display: block;
    align-items: center;

    justify-content: center;
    
}
.ant-list-sm .ant-list-item{
    padding: 8px 0px;
}
@media screen and(min-width: 997px){
    .card{
        width: 15%;
    }
    .tracks{
        width: 66%;
        padding: 1%;
     }
     .thumbnail{
         width:30%;
     }
}

@media only screen and(min-width: 600px) and (max-width:996px){
    .card{
        width: 30%;
    }
    .ant-list-sm .ant-list-item{
        padding: 8px 0px;
    }
    .tracks{
        width: 66%;
        padding: 1%;
     }
     .thumbnail{
         width:30%;
     }
    
}
@media screen and(max-width: 600px){
    .card{
        width: 100%;

    }
    .tracks{
       width: 48%;
       padding: 1%;
    }
    .thumbnail{
        width:48%;
    }
   
  
    
}
.card-img{
    width:100%;
}

.artist-card{
    display: flex;
    justify-content: center;
    // align-items: center;
    overflow-y: scroll;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    flex-wrap: wrap;

    position: relative;
    background: white;
    border-radius: 5px;
    // box-shadow: 0px 2px 15px 2px rgba(black, 0.068);//2px to the bottom, 15px is the blur, the next 2px is the spread value: how much larger th e box shadow is as compared to the main div
    // transition: box-shadow 0.2s ease-out ;

    &:hover{ //the & sign is a scss operator allowing us to use  the hover styling within the elements with note-card-container
        cursor: pointer;
        // box-shadow:0px 0px 0px 4px rgba(black, 0.068);//on hover, make box shadow look like an outline

    }

    .card-content{
        padding:1%;

        .card-title{
           font-size:22px;
           font-weight: bold;
           color: $purple; 
        }
        .card-body{
            color: #555;
            position: relative;
            max-height: 80px;// this is the max height b4 trunctation
            overflow: hidden;
        }
       
    }
    
}
.wrapper{
    background-color: $light-red;
}
