<!-- <p>artist-list works!</p> -->
<div  class="card-container">
    <div class="card-content">
        <!-- <h1 class="card-title">{{cardImg}}</h1>
        <div *ngFor="let artist of artists">
            <img src={{artist.cardImg}} />
         </div> -->
        <!-- <img src={{cardImg}} alt="artist-img"> -->
        <div  class="card-body" *ngFor='let artist of allArtists'>
            <!-- <p>{{artist.artist.name}}</p> -->
            <!-- <p>{{artistFans}}</p> -->
        </div>
    </div>
   
</div>